/* .card-for-front{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    height:fit-content;
    width: fit-content;
    padding: 20px;
    margin-top: 10px; */
    /* background-color: #303147; */
    /* text-align: left;
}

.front-product-image {
    float: left;
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
  } */
  
  /* .product-img img {
    border-radius: 7px 0 0 7px;
  } */
  /* .front-card-buttons{
    display: inline-block; */
    /* margin-right: 10px; */
/* flex-direction: row;
align-items: flex-start;
padding: 8px 16px; */
/* gap: 10px; */
/* background: #87878747; */
/* opacity: 0.1; */
/* 
border-radius: 10px;
color: #EBEBEB;
  }

  .front-card-head{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px; */

/* White */
/* 
color: #FFFFFF;
  }
  .fornt-card-headfive{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px; */

/* White */

/* color: #FFFFFF;

  }
  .front-card-para{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px; */
/* or 150% */


/* Medium grey */
/* 
color: #EBEBEB;
  }

  .front-heart{
    float: right;
    font-size: larger;
  }
  .icon{
    border: none;
  }
  .front-info-card {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .front-info {
    width: 25%;
    height: 50px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
  }
  .front-card-spa{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
  } */