.My-advert-main{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    height: auto;
    align-items: center;
    padding: 20px;
    background-color: var(--main);
    
}

.my-advert-cards{
    background-color: var(--grey-back);
    border: 1px solid var(--card-border);
    padding: 20px;
    border-radius: 18px;
    overflow-y: auto;
    min-height: 900px;
}

.sidebar1{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    border: 1px solid var(--card-border);
    border-radius: 20px;
    min-height: 900px;
    min-width: 300px;
   
/* padding: auto 20px ; */
}
